
/*
==================================================================
    HEADER
==================================================================
*/

header {
    * {
        @extend %title-font; 
    }

    div * {
        display: inline-block;
    }

    i {
        padding: 12px;
    }

    #topbar {
        padding: $container-padding;

        #topbar-left {
            #logo {

                h1 {
                    position: relative;
                    top: -4px;
                }

                &:hover {
                    transform: translateX(2px);
                }
            }

        }

        #topbar-right {
            float: right;

            #made-by {
                position: relative;
                top: 12px;
                font-size: 0.8em;
                color: $light-grey-font;

                a {
                    color: $light-grey-font;
                    text-decoration: underline;

                    &:hover {
                        color: $grey-font;
                    }
                }

                @media (max-width: 800px) {
                    display: none;
                }
            }

            .menu-icon {
                cursor: pointer;
                @media (min-width: 800px) {
                    display: none;
                }
            }
        }
    }

    #searchbox {
        input[type="text"] {
            box-sizing: border-box;
            padding: $container-padding;
            padding-left: calc(5% + 10px);
            width: 100%;
            height: 6vmin;
            min-height: 50px;
            border: none;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
        }
    }
   
}