

/*
==================================================================
    MAIN CONTENT
==================================================================
*/

main {
    @include pos-relative(180px, 0);
    @include breakpoint {
        left: 15vw;
        max-width: 74%;
    }
    padding: $small-padding;
    font-family: $roboto-font;

    #main-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .media-item {
            display: inline-block;
            position: relative;
            max-width: 200px;
            margin: 2% 1%;
            white-space: nowrap; 
            overflow: hidden;
            font-family: $roboto-font;
            font-size: 0.7em;
            color: $black-font;
            order: 1;
            cursor: pointer;

            .is-in-collection {
                @include pos-relative(-8px, auto);
                float: right;
                right: -8px;
                color: $grey-font;
                cursor: pointer;
            }

            .add-remove-from-collection {
                &:hover {
                    text-decoration: underline;
                }
            }

            .more-information {
                @include pos-absolute(auto, auto, 65px, 0);
                display: none;
                width: 100%;
                padding: 5px;
                z-index: 1;
                font-size: 0.9em;
                text-transform: uppercase;
                color: $white;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .title {
                display: inline-block;
                max-width: 158px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
                font-size: 1.2em;
            }

            .rating {
                @include pos-relative(-10px, auto);
                @extend %small-green-box;
                float: right;
                z-index: 2;
            }
        }

        @media (min-width: 1800px) {
            justify-content: flex-start;
        }
    }

    #main-pagination {
        margin: 30px auto;
        padding: 20px;
        text-align: center;

        .pagination-box {
            @extend %small-green-box;
            display: inline-block;
            margin: 5px;
            padding: 5px 8px;
            transition: 0.4s;
            cursor: pointer;

            &:hover {
                background: $black;
            }
        }
    }

    #full-media-content {
        @include pos-fixed(90%, 150px, auto);
        display: none;
        z-index: 3;
        background-color: $white;
        height: calc(100vh - 150px);
        overflow-y: auto;


        .close-media-content {
            @include pos-relative( -12px, auto);
            float: right;
            cursor: pointer;

            &:hover {
                color: $black;
            }
        }

        #media-showcase {
            height: 380px;
            background: {
                position: center top;
                size: cover;
            }
        }

        h1 {
            @include pos-relative(85%, auto);
            color: $white;
            text-align: right;
            text-shadow: 1px 1px #000;
        }

        #media-details {
            img {
                display: none;
                @include breakpoint {
                    display: inline-block;
                }
            }
        }

        @include breakpoint {
            width: 75%;
        }
    }
}

// Not working if nested
#full-media-content::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#full-media-content::-moz-scrollbar {
    width: 0px;
    background: transparent;
}
