
/*
==================================================================
    FONTS / VARIABLES
==================================================================
*/

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Oswald|Raleway');

$oswald-font: 'Oswald', sans-serif;
$julius-font: 'Julius Sans One', sans-serif;

$white: #f9f9f9;
$grey-font: #484539;
$light-grey-font: #8c8c8c;

$container-padding: 0 5%;

/*
==================================================================
    GLOBAL / GENERAL
==================================================================
*/

body {
    font-family: $julius-font;
    color: $grey-font;
    @extend %no-spacing;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.4s;
}

h1, h2, h3, h4 {
    @extend %no-spacing;
}

main {
    padding: $container-padding;

    div {
        display: inline-block;
    }
}

