

/*
==================================================================
    MAIN CONTENT
==================================================================
*/

main {
    @include pos-relative(180px, 0);
    @include breakpoint {
        left: 12vw;
        max-width: 75%;
    }
    padding: $small-padding;

    #main-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .media-item {
            display: inline-block;
            max-width: 200px;
            margin: 2% 1%;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 0.7em;
            color: $black-font;
            font-family: 'Raleway', Helvetica, sans-serif;
            cursor: pointer;
        }

        @include breakpoint {
            justify-content: flex-start;
        }
    }
}