
/*
==================================================================
    MY LISTS
==================================================================
*/

#main-mylists {
    display: none;
    
    .list-heading {
        @include pos-relative(13px, auto);
        @extend %title-font;
        display: inline-block;
        font-size: 1.2rem;

    }

    i {
        @include pos-relative(5px, auto);
    }

    .list-edit-heading {
        @extend %title-font;
        float: right;
        position: relative;
        margin: 0;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        .new-list-icon { 
            color: $red; 
            padding-right: 0;
        }
    }

    .list-heading {
        @extend %title-font;
    }

    hr {
        margin: 0;
        width: 100%;
        color: #ddd;
    }
}

