
/*
==================================================================
    MY LISTS
==================================================================
*/

#main-mylists {
    display: none;

    i {
        @include pos-relative(5px, auto);
        cursor: pointer;
        &:hover {
            transition: 0.4s;
            color: $red;
        }
    }

    hr {
        margin: 0;
        width: 100%;
        color: #ddd;
    }
    
    .list-heading {
        @include pos-relative(13px, auto);
        @extend %title-font;
        display: inline-block;
        font-size: 1.2rem;

    }

    .create-new-list {
        @extend %title-font;
        @extend %underline;
        position: relative;
        float: right;
        margin: 0;
        .new-list-icon { 
            color: $red; 
            padding-right: 0;
        }
    }

    #user-lists {

        .list-titlebar {
            margin: 50px 0 50px;
            text-transform: uppercase;
        }

        h2 {
            @include pos-relative(30px, auto);
            display: inline-block;
            font-size: 1.2rem;
        }

        i {
            cursor: pointer;
            &:hover {
                transition: 0.4s;
                color: $red;
            }
        }

        .rating {
            @include pos-relative(-10px, auto);
            @extend %small-green-box;
        }

        .delete-list {
            @extend %underline;
            float: right;
        }

        .list-item:first-of-type {
            width: 100%;
        }

        .list-item {
            margin: -15px 0;

            // .list-item-title {
            //     width: 70%;
            //     text-align: left;
            //     color: #111;
            //     &:hover {
            //         text-decoration: underline;
            //         cursor: pointer;
            //     }
            // }
        }
    }
}

