
/*
==================================================================
    MY LISTS
==================================================================
*/

#main-mylists {
    display: none;

    i {
        @include pos-relative(5px, auto);
        cursor: pointer;
        &:hover {
            transition: 0.4s;
            color: $red;
        }
    }

    hr {
        margin: 0;
        width: 100%;
        color: #ddd;
    }
    
    .list-heading {
        @include pos-relative(13px, auto);
        @extend %title-font;
        display: inline-block;
        font-size: 1.2rem;

    }

    .create-new-list {
        @extend %title-font;
        @extend %underline;
        position: relative;
        float: right;
        margin: 0;
        .new-list-icon { 
            color: $red; 
            padding-right: 0;
        }
    }

    /*
    ============================
        LISTS
    ============================
    */

    #user-lists {

        .list-titlebar {
            margin: 0 0 50px;
            padding-top: 30px;
            text-transform: uppercase;
        }

        h2 {
            @include pos-relative(30px, auto);
            display: inline-block;
            font-size: 1.2rem;
        }

        i {
            cursor: pointer;
            &:hover {
                transition: 0.4s;
                color: $red;
            }
        }

        .delete-list {
            @extend %underline;
            float: right;
        }

        /*
        ============================
            LIST ITEM
        ============================
        */


        .list-item {
            margin: -15px 0;
            width: 100%;

            div {
                display: inline-block;
            }

            .list-item-rating, .list-item-delete {
                width: 40px;
            }

            .list-item-title {
                @extend %underline;
                &:hover {
                    color: #222;
                }
            }

            
        } 
    }
}

