
/*
==================================================================
    NAVIGATION
==================================================================
*/

#side-nav {
    display: inline-block;
    position: relative;
    left: -160px;
    width: 140px;
    transition: 1s;
    background-color: $white;
    @extend %title-font;
    
     ul {
        position: relative;
        padding-left: 12px;
        color: $light-grey-font;
    
        .active {
            color: $grey-font;
        }
    
        li {
            transition: 0.4s;
            cursor: pointer;
            padding: 0.05em 0;
        }
        
        li:hover {
            color: $grey-font;
            transform: translateX(2px);
        }
    }

    @media (min-width: 800px) {
        left: 0;
    }
}

#main-content {
    position: relative;
    left: -140px;
    transition: 1s;

    @media (min-width: 800px) {
        left: 0;
    }
}

