
/*
==================================================================
    HEADER
==================================================================
*/

header {
    position: fixed;
    width: 100%;
    top: 0;

    * {
        @extend %title-font;
        background-color: $white;
    }

    div * {
        display: inline-block;
    }

    i {
        padding: 12px;
    }

    #topbar {
        padding: $container-padding;

        #topbar-left {
            #logo {

                h1 {
                    position: relative;
                    top: -4px;
                }

                &:hover {
                    transform: translateX(2px);
                }
            }

        }

        #topbar-right {
            float: right;

            #made-by {
                position: relative;
                top: 12px;
                font-size: 0.8em;
                color: $light-grey-font;

                a {
                    color: $light-grey-font;
                    text-decoration: underline;

                    &:hover {
                        color: $grey-font;
                    }
                }

                @media (max-width: $break) {
                    display: none;
                }
            }

            .menu-icon {
                cursor: pointer;
                @media (min-width: $break) {
                    display: none;
                }
            }
        }
    }

    #searchbox {
        input[type="text"] {
            box-sizing: border-box;
            padding: $container-padding;
            padding-left: calc(5% + 10px);
            width: 100%;
            height: 6vmin;
            min-height: 50px;
            border: none;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
        }
    }
   
}

/*
==================================================================
    NAVIGATION
==================================================================
*/

main {

    #main-content {
        padding: $container-padding;
        display: inline-block;
        position: relative;
        margin-top: 50px;
    
        @media (min-width: $break) {
            margin-left: 140px;
        }
    
    }

    @media (min-width: $break) {
        margin-top: 120px;
    }
}


#sub-nav {
    position: fixed;
    width: 100%;
    height: 20px;
    text-align: center;

    li {
        display: inline-block;
        padding: 0 12px;
        font-size: 0.7em;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: #000;
        }
    }
}

#side-nav {
    @extend %title-font;
    display: none;
    position: fixed;
    width: 140px;
    margin-top: 30px;
    background-color: $white;
    padding: $container-padding;
    
     ul {
        position: relative;
        padding-left: 12px;
        color: $light-grey-font;
    
        .active {
            color: $grey-font;
        }
    
        li {
            transition: 0.4s;
            cursor: pointer;
            padding: 0.05em 0;

            &:hover {
                color: $grey-font;
                transform: translateX(2px);
            }
        }
    }

    @media (min-width: $break) {
        display: inline-block;
    }
}



<header>
        <!-- Topbar -->
        <div id="topbar">
            <!-- Left -->
            <div id="topbar-left">
                <a href="index.html" id="logo">
                    <i class="material-icons movie-icon">movie_filter</i>
                    <h1>Movie List</h1>
                </a>
            </div>
            <!-- Right -->
            <div id="topbar-right">
                <span id="made-by">Design & Code by <a href="http://seanmurphy.eu" target="_blank">Sean Murphy</a></span>
                <i class="material-icons menu-icon">menu</i>
            </div>
        </div>

        <!-- Searchbox -->
        <div id="searchbox">
            <input id="search-input" type="text" placeholder="Search TMDb for Movies & TV Shows ..." autocomplete="off">
            <div id="search-results"></div>
        </div>
    </header>

    <main>
        <!-- Nav Child -->
        <div id="nav-child">
            <ul>
                <li>Trending</li>
                <li>Popular</li>
                <li>Upcoming</li>
                <li>In Cinemas</li>
            </ul>
        </div>
        
        <!-- Nav Parent  -->
        <div id="nav-parent">
            <ul>
                <li tabindex="0" class="active nav-parent" data-nav="movies">Movies</li>
                <li tabindex="0" class="nav-parent" data-nav="tvshows">TV Shows</li>
                <li tabindex="0" class="nav-parent" data-nav="userlists">My Lists</li>
                <li tabindex="0" class="nav-parent" data-nav="statistics">Statistics</li>
            </ul>
        </div>

        <!-- Main Content Area -->
        <div id="main-content">
            <p>Main Content Area</p>
        </div>