/*
==================================================================
    FONTS / VARIABLES
==================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Oswald|Raleway");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/*
==================================================================
    PLACEHOLDERS
==================================================================
*/
body, h1, h2, h3, h4, header nav ul {
  margin: 0;
  padding: 0; }

header * {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #484539; }

header #topbar #ref-link {
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #8c8c8c; }

/*
==================================================================
    MIXINS
==================================================================
*/
/*
==================================================================
    GENERAL
==================================================================
*/
body {
  font-family: "Julius Sans One", sans-serif;
  color: #484539;
  height: 3000px; }

ul {
  list-style: none;
  color: #8c8c8c; }

a {
  text-decoration: none;
  transition: 0.4s; }

i {
  padding: 12px; }

.active-parent {
  color: #484539; }

.active-child {
  color: #000; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }
  header * {
    background-color: #f9f9f9; }
  header #topbar {
    padding: 0 5%;
    box-sizing: border-box; }
    header #topbar * {
      display: inline-block; }
    header #topbar #logo:hover {
      -webkit-transform: translateX(2px);
              transform: translateX(2px); }
    header #topbar #movie-icon {
      padding-left: 0; }
    header #topbar h1 {
      position: relative;
      top: -4px;
      left: auto; }
    header #topbar #ref-link {
      position: relative;
      top: 17px;
      left: auto;
      display: none;
      float: right; }
      @media (min-width: 800px) {
        header #topbar #ref-link {
          display: inline-block; } }
      header #topbar #ref-link a {
        transition: 0.4s; }
        header #topbar #ref-link a:hover {
          text-decoration: underline;
          color: #8c8c8c; }
    header #topbar #menu-btn {
      float: right;
      cursor: pointer; }
      @media (min-width: 800px) {
        header #topbar #menu-btn {
          display: none; } }
  header #search {
    position: relative; }
    header #search #search-input {
      padding: 0 5%;
      width: 100%;
      height: 6vmin;
      min-height: 50px;
      border: none;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      outline: none; }
  header nav {
    margin-top: 25px; }
    header nav div {
      position: fixed;
      display: inline-block; }
    header nav ul li {
      color: #8c8c8c;
      outline: none; }
    header nav #primary-nav {
      padding: 0 5%;
      padding-top: 40px;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      left: -140px;
      height: calc(100vh - 175px); }
      header nav #primary-nav li {
        font-family: "Oswald", sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer; }
        header nav #primary-nav li:hover {
          color: #484539; }
        header nav #primary-nav li:hover {
          -webkit-transform: translateX(2px);
                  transform: translateX(2px); }
      @media (min-width: 800px) {
        header nav #primary-nav {
          left: 0; } }
    header nav #secondry-nav {
      width: 100%;
      text-align: center; }
      header nav #secondry-nav li {
        font-family: "Julius Sans One", sans-serif;
        font-size: 0.8em;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;
        display: inline-block;
        padding: 10px; }
        header nav #secondry-nav li:hover {
          color: #484539; }
        header nav #secondry-nav li:hover {
          color: #000; }
        header nav #secondry-nav li:active {
          outline: none; }
        @media screen and (max-width: 400px) {
          header nav #secondry-nav li {
            padding: 5px;
            font-size: 0.6em; } }
