/*
==================================================================
    FONTS / VARIABLES
==================================================================
*/
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Oswald|Raleway");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/*
==================================================================
    PLACEHOLDERS
==================================================================
*/
body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

header * {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #484539; }

header #topbar #ref-link {
  font-family: "Oswald", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #8c8c8c; }

/*
==================================================================
    MIXINs
==================================================================
*/
/*
==================================================================
    GENERAL
==================================================================
*/
body {
  font-family: "Julius Sans One", sans-serif;
  color: #484539; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  transition: 0.4s; }

i {
  padding: 12px; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 5%;
  box-sizing: border-box; }
  header * {
    background-color: #f9f9f9; }
  header #topbar * {
    display: inline-block; }
  header #topbar #movie-icon {
    padding-left: 0; }
  header #topbar h1 {
    position: relative;
    top: -4px;
    left: auto; }
  header #topbar #ref-link {
    position: relative;
    top: 17px;
    left: auto;
    display: none;
    float: right; }
    @media (min-width: 800px) {
      header #topbar #ref-link {
        display: inline-block; } }
    header #topbar #ref-link a {
      transition: 0.4s; }
      header #topbar #ref-link a:hover {
        text-decoration: underline;
        color: #8c8c8c; }
  header #topbar #menu-btn {
    float: right; }
    @media (min-width: 800px) {
      header #topbar #menu-btn {
        display: none; } }
